/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.fl-tabs {
    background: var(--token-color-purple);
    border: 1px solid var(--token-color-link-purple);
    border-radius: var(--token-border-radius-md);
    padding: var(--token-layout-2xs) var(--token-layout-xs) 0;

    .fl-tabs-nav[role='tablist'] {
        background: var(--theme-tabs-nav-background);
        border: 1px solid var(--token-color-light-purple);
        border-radius: var(--token-border-radius-lg);
        display: flex;
        font-family: var(--token-font-family-mozilla-headline);
        gap: var(--token-spacing-xs);
        inline-size: fit-content;
        justify-content: center;
        margin: 0 auto var(--token-layout-xs);
        padding: var(--token-spacing-xs);
    }

    button[role='tab'] {
        background: var(--theme-tabs-nav-background);
        border: none;
        font-weight: var(--token-font-weight-bold);
        padding: var(--token-spacing-md) var(--token-spacing-lg);
    }

    [role='tab'],
    [role='tab']:focus,
    [role='tab']:hover {
        cursor: pointer;
    }

    [role='tab'][aria-selected='true'] {
        background: var(--theme-tabs-tab-selected-background);
        color: var(--theme-tabs-tab-selected-color);
    }

    [role='tab'] span.focus {
        display: inline-block;
        padding: var(--token-spacing-md);
    }

    [role='tab']:hover span.focus,
    [role='tab']:focus span.focus,
    [role='tab']:active span.focus {
        color: var(--theme-tabs-tab-color-hover);
    }

    .fl-tab-image {
        block-size: auto;
        display: block;
        margin: 0 auto var(--token-layout-xs);
        max-inline-size: 100%;
    }

    [role='tabpanel'].is-hidden {
        display: none;
    }
}

.no-js .fl-tabs {
    [role='tablist'] {
        display: none;
    }

    [role='tabpanel'].is-hidden {
        display: block;
    }
}
