{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{#
 invite_url comes from the page context (ReferralHubPage.get_context) and is
 empty when the page was opened without a ref_key. The component renders
 nothing in that case.
#}

<include:referral-controls
  invite_url="{{ invite_url|default('', true) }}"
  copy_label="{{ value.copy_label }}"
  copy_success_label="{{ value.copy_success_label }}"
  email_label="{{ value.email_label }}"
  email_subject="{{ value.email_subject }}"
  email_body="{{ value.email_body }}"
  qr_heading="{{ value.qr_heading }}"
  qr_label="{{ value.qr_label }}"
/>
