{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div id="fl-tab-panel-{{ section_id }}-{{ tab_index }}" role="tabpanel" aria-labelledby="fl-tab-{{ section_id }}-{{ tab_index }}" class="fl-tab">
  <div class="fl-tab-panel-media">
  {% include_block value.media %}
  </div>
  {% if value.heading %}
    <h2 class="fl-tab-heading fl-heading-sm">{{ value.heading|richtext|remove_p_tag }}</h2>
  {% endif %}
  {% if value.description %}
    <p class="fl-tab-description">{{ value.description|richtext|remove_p_tag }}</p>
  {% endif %}
  {% include_block value.referral_controls %}
  {% include_block value.impact_dash %}
  {% include_block value.comparison_table %}
  {% include_block value.browser_comparison_table %}
  {% if value.note %}
  <div class="fl-tab-note-wrapper">
    <small class="fl-tab-note">{{ value.note|richtext }}</small>
  </div>
  {% endif %}
</div>
