{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set heading_level = 'h' ~ block_level if block_level else 'h2' %}
{% set subheading_level = 'h' ~ (block_level + 1) if block_level else 'h3' %}

<include:showcase layout="{{ value.settings.layout }}">
  <content:heading>
    <include:heading
      level="{{ heading_level }}"
      heading_size="{{ 'fl-heading-size-' ~ block_level if block_level else 'fl-heading-size-2' }}"
      heading_text="{{ value.headline|richtext|remove_p_tag }}"
    />
    {% if value.description %}
      <div class="fl-showcase-description">{{ value.description|richtext }}</div>
    {% endif %}
  </content:heading>
  <content:image>
    {% if value.settings.layout == "default" %}
      {% set size = "(min-width: 1200px) 750px" %}
    {% elif value.settings.layout == "full" %}
      {% set size = "(min-width: 1400px) 1400px" %}
    {% else %}
      {% set size = "(min-width: 1200px) 950px" %}
    {% endif %}
    {% with sizes = size ~ ", 100vw" %}
      {% for block in value.media %}
        {% include_block block %}
      {% endfor %}
    {% endwith %}
  </content:image>
  <content:caption>
    {% if value.caption_title %}
      <{{ subheading_level}} class="fl-subheading">{{ value.caption_title|richtext|remove_p_tag }}</{{ subheading_level}}>
    {% endif %}
    {% if value.caption_description %}
      {{ value.caption_description|richtext }}
    {% endif %}
  </content:caption>
  {% if value.cta %}
  <content:cta>
    {% for cta in value.cta %}
      {% include_block cta %}
    {% endfor %}
  </content:cta>
  {% endif %}
</include:showcase>
