/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* Required for postcss-custom-media to resolve @custom-media variables in standalone bundles */
@import 'variables/flare-media-query-tokens.css';
@import 'components/flare-impact-dash.css';
@import 'components/flare-referral-controls.css';

@layer page {
    /* Custom header */
    .fl-referral-hub-page .fl-logo-fx.fl-logo-share-fx {
        background-image: none;
        inline-size: 209px;
    }

    .fl-referral-hub-page .fl-logo-fx.fl-logo-share-fx > img {
        display: block;
        margin: 0;
        max-block-size: unset;
    }

    .fl-referral-hub-page .fl-header:has(.fl-logo-share-fx) {
        padding: var(--token-spacing-lg);
    }

    /* Upper band */
    .fl-referral-hub-page .fl-split-page-upper {
        padding-block-end: 0;
    }

    .fl-referral-hub-page .fl-showcase-description {
        margin: auto;
        max-inline-size: 566px;
    }

    .fl-referral-hub-page .fl-showcase-media:has(.fl-media-tabs) {
        inline-size: 100%;
        max-inline-size: var(--token-width-desktop-content-lg);
    }

    .fl-referral-hub-page .fl-media-tabs {
        inline-size: 100%;
    }

    .fl-referral-hub-page .fl-tabs {
        padding: var(--token-layout-2xs) var(--token-spacing-lg) 0;
    }

    .fl-referral-hub-page .fl-tabs .fl-tab-image {
        margin-block-end: var(--token-spacing-xl);
        max-inline-size: 110px;
    }

    .fl-referral-hub-page .fl-tabs .fl-tab-heading {
        margin-block-end: 0;
    }

    .fl-referral-hub-page .fl-referral-controls,
    .fl-referral-hub-page .fl-impact-dash,
    .fl-referral-hub-page .fl-impact-dash-summary {
        max-inline-size: var(--token-width-desktop-content);
    }

    .fl-referral-hub-page .fl-impact-dash-summary {
        margin-inline: auto;
    }

    .fl-referral-hub-page .fl-tab-note-wrapper {
        display: none;
    }

    .fl-referral-hub-page .fl-tab-note p {
        font-size: var(--token-font-size-xs);
        margin: 0 auto;
        max-inline-size: 480px;
    }

    .fl-referral-hub-page .fl-showcase {
        padding-block-end: var(--token-layout-md);
        position: relative;
    }

    .fl-referral-hub-page .fl-showcase-cta {
        display: block;
        inset-block-end: 0;
        inset-inline-start: 0;
        min-inline-size: 100%;
        position: absolute;
        text-transform: uppercase;
    }

    .fl-referral-hub-page .fl-showcase-cta a.fl-button {
        background: rgba(58, 15, 110, 0.5);
        border-color: transparent;
        border-radius: 80px 80px 0 0;
        font-size: var(--token-font-size-xs);
    }

    /* Lower band */
    .fl-referral-hub-page .fl-split-page-lower > .fl-intro {
        padding-block-end: 0;
    }

    .fl-referral-hub-page .fl-split-page-lower .fl-section:first-of-type {
        padding-block-start: 0;
    }

    .fl-referral-hub-page .fl-banner-kit {
        background-image: none;
    }

    .fl-referral-hub-page .fl-split-page-lower > :last-child {
        padding-block-end: 0;
    }

    /* Extra band  */

    .fl-referral-hub-page .fl-split-page-extra {
        color: var(--fl-theme-color-text);
        margin: 0 auto;
        padding-block: var(--fl-section-v-padding);
        position: relative;
    }

    .fl-referral-hub-page .fl-split-page-extra > * {
        position: relative;
        z-index: 1;
    }

    .fl-referral-hub-page .fl-split-page-extra .fl-showcase {
        margin-inline: auto;
        max-inline-size: var(--token-width-desktop-content-lg);
    }

    @media (--viewport-md-up) {
        .fl-referral-hub-page {
            --section-border-radius: var(--token-border-radius-xl);
        }

        .fl-referral-hub-page .fl-tabs {
            padding: var(--token-layout-2xs) 0 0;
        }

        .fl-referral-hub-page .fl-tab-note-wrapper {
            border-block-start: 1px solid var(--token-color-medium-purple);
            color: var(--token-color-soft-purple-5);
            display: block;
            margin: auto;
            padding: var(--token-spacing-xl) var(--token-layout-xs);
        }

        .fl-referral-hub-page .fl-showcase-media {
            padding-block-end: var(--token-layout-xs);
        }

        .fl-banner-kit-small {
            --kit-img-size: 20% auto;
        }
    }
}
