/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-landing-get .c-intro-download {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--fl-theme-font-size-body-xs);
}

.fl-landing-get .c-intro-download > label {
    margin-block-end: 40px;
}

.fl-landing-get .c-intro-download > label input[type='checkbox']{
    inline-size: 14px;
    block-size: 14px;
    vertical-align: baseline;
}

.fl-landing-get .c-intro-download .fl-download-firefox-button {
    align-items: flex-start;
}

.fl-landing-get .c-intro-download .c-intro-download-alt {
    text-align: start;
}

.fl-landing-get .c-intro-download .mzp-c-button-download-privacy-link {
    font-size: var(--fl-theme-font-size-body-xs);
}

/* Latest Features section */
.fl-landing-get .fl-section-container {
    margin-bottom: var(--token-layout-sm);
}

.fl-landing-get .fl-release-notes-link {
    max-inline-size: fit-content;
    margin: 0 auto;
}

/* Firefox Got You Covered section */
.fl-landing-get .fl-firefox-has-got-you {
    padding-top: var(--token-layout-lg);
}

/* only include cta if UITour JS runs */
.landing-get-uitour-report {
    display: none;
}

body.data-uitour .landing-get-uitour-report {
    display: inline-block;
}

/* Do it All section */
.fl-landing-get  .fl-do-it-all .icon-text-list {
    --fl-card-grid-columns: repeat(1, minmax(0, 1fr));
    display: grid;
    grid-template-columns: var(--fl-card-grid-columns, minmax(0, 1fr));
}

.fl-landing-get  .fl-do-it-all .icon-text-list li {
    flex-direction: column;
    margin-bottom: 0;
}

.fl-landing-get  .fl-do-it-all .icon-text-list > li {
    align-items: flex-start;
}

.fl-landing-get  .fl-do-it-all .icon-text-list > li ul {
    margin-bottom: 0;
    list-style: square;
}

.fl-landing-get  .fl-do-it-all .fl-icon-wrap {
    border-radius: var(--token-spacing-sm);
}

.fl-landing-get  .fl-do-it-all h3 {
    font-size: 1rem;
    margin-bottom: 0;
}

.fl-landing-get  .fl-do-it-all .marketing-opt-out-checkbox-label {
    max-width: 60%;
    margin: 0 auto;
}

.fl-landing-get  .fl-do-it-all .marketing-opt-out-checkbox-input {
    block-size: 16px;
    inline-size: 16px;
}

@media (--viewport-sm-up) {
    .fl-landing-get  .fl-do-it-all .icon-text-list {
        --fl-card-grid-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (--viewport-md-up) {
    .fl-landing-get  .fl-do-it-all .icon-text-list {
        --fl-card-grid-columns: repeat(3, minmax(0, 1fr));
    }

    .fl-landing-get .fl-heading-size-2 {
        font-size: var(--fl-theme-font-size-heading-lg);
    }

    .fl-landing-get  .fl-firefox-has-got-you h3.fl-heading {
        font-size: 2rem;
    }
}

@media (--viewport-lg-up) {
    .fl-landing-get .fl-section-container {
        margin-bottom: var(--token-layout-lg);
    }
}
