{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div data-testid="comparison-image-header" style=
"display: flex; gap: 40px;">
  {% for item in items %}
    <include:comparison-image-header label="{{ item.label }}">
      <content:image>
        <img src="{{ item.url }}" alt="{{ item.alt }}" width="200" loading="lazy" />
      </content:image>
    </include:comparison-image-header>
  {% endfor %}
</div>
