{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<header class="fl-header
  {% if theme == 'dark' %}fl-force-dark-theme{% endif %}
  {% if theme == 'light' %}fl-force-light-theme{% endif %}
">
  <div class="fl-header-inner">
      <a href="/{{LANG}}/" class="fl-logo-fx" aria-label="Firefox">
        <img
          src="/media/img/logos/firefox/logo-word-hor-2026.svg"
          alt="Firefox"
          width="120"
          height="40"
        />
      </a>
  </div>
</header>
