{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<header class="fl-header fl-force-dark-theme fl-fx-share">
  <div class="fl-header-inner">
      <a href="/{{LANG}}/" class="fl-logo-fx fl-logo-share-fx" aria-label="Share Firefox">
        <img
          src="/media/img/logos/firefox/logo-share-firefox.svg"
          alt="Share Firefox"
          width="209"
          height="42"
        />
      </a>
  </div>
</header>
