{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div
  class="
    fl-comparison-table-wrapper
    {% if mobile_behavior %}{{ mobile_behavior }}{% endif %}
    {% if variant and variant != 'default' %}{{ variant }}{% endif %}
  "
>
  <table class="fl-comparison-table">
    <thead>
      {{ contents.header }}
    </thead>
    <tbody>
      {{ contents.body }}
    </tbody>
  </table>
</div>
