/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/*
  This file contains pure CSS variables that will be inlined
  by webpack. Since it's technically not valid CSS, your
  code editor might flag everything as syntax errors.
*/

/* Text colors */
--fl-theme-color-text: var(--token-color-black-4);
--fl-theme-color-text-inverse: var(--token-color-white);
--fl-theme-color-brand-text: var(--token-color-link-purple);
--fl-theme-color-link: var(--token-color-link-purple);
--fl-theme-color-link-hover: var(--token-color-link-purple);
--fl-theme-color-link-alt-hover: var(--token-color-black-4);
--token-color-error-text-color: var(--token-color-secondary-red);
--fl-theme-code-background: var(--token-color-soft-purple-2);

/* Background colors */
--fl-theme-background: var(--token-color-white);
--fl-theme-color-icon-wrap: var(--token-color-purple);

/* Surface colors */
--fl-theme-surface-card-gradient: var(--token-gradient-light);
--fl-theme-default-card-bg: var(--fl-theme-surface-card-gradient);
--fl-theme-card-outline-superheading-color: var(--token-color-grey-4);
--fl-theme-card-outline-superheading-color-active: var(
    --fl-theme-color-brand-text
);

/* Button palette */
--fl-theme-pill-bg-color-primary: var(--token-color-soft-purple-2);

/* Divider */
--fl-theme-divider-color: var(--token-color-soft-purple);
--fl-subtle-border-color: var(--token-color-grey-2);
--fl-theme-divider: 1px solid var(--fl-theme-divider-color);

/* Dark mode toggle */
--content-dark-mode-only: unset;

/* Card themes */
--fl-card-filled-border-color: var(--token-color-soft-purple);
--theme-purple-card-bg-color: var(--token-color-soft-purple);
--theme-purple-card-bullet-color: var(--token-color-purple);
--theme-yellow-card-bg-color: var(--token-color-soft-yellow);
--fl-step-card-bg: var(--token-color-cream);
--fl-step-card-index-bg: var(--token-color-white);
--fl-theme-illustration-icon-bg: var(--token-color-soft-purple);
--display-light-mode-only: block;

/* Two column cards */
--two-column-accent-color: var(--token-color-black-1);

/* light-dark theme */
--two-column-light-dark-first-card-bg: var(--token-color-soft-purple);
--two-column-light-dark-second-card-bg: var(--token-color-purple);

/* light-light theme */
--two-column-light-light-first-card-bg: var(--token-color-soft-purple-40);
--two-column-light-light-second-card-bg: var(--token-color-soft-purple);

/* Callout */
--callout-background-gradient: linear-gradient(180deg, #fff04f 0%, #ffba4a 84%);

/* Navigation menu */
--fl-logo-url: url('/media/img/logos/firefox/logo-word-hor-2026.svg');
--fl-menu-separator-color: var(--token-color-grey-2);
--fl-menu-title-color: var(--token-color-black-4);
--fl-menu-hamburger-bg: var(--token-color-soft-purple);
--fl-menu-panel-border-color: var(--token-color-soft-purple);
--fl-menu-panel-box-shadow-color: var(--token-color-soft-purple-64);
--fl-menu-category-link-bg-color: var(--token-color-soft-purple-64);
--fl-menu-category-link-hover-bg-color: var(--token-color-soft-purple);

/* Notifications */
--windows-icon-color: var(--token-color-light-purple);

/* base/purple */
--notification-bg: var(--token-color-soft-purple);
--notification-link-hover-bg: var(--token-color-dark-purple);
--notification-color: var(--token-color-black-1);
--notification-border-color: var(--token-color-soft-purple-2);
--notification-icon-bg: var(--token-color-dark-purple);
--notification-icon-color: var(--token-color-white);
--notification-stacked-color: var(--token-color-dark-purple);
--notification-box-shadow: 0px 0px 24px 2px rgba(214, 197, 246, 0.4);

/* red */
--notification-red-bg: var(--token-color-soft-red);
--notification-red-color: var(--token-color-black-4);
--notification-red-border-color: var(--token-color-secondary-red);
--notification-red-icon-bg: var(--token-color-secondary-red);

/* orange */
--notification-orange-bg: var(--token-color-soft-orange);
--notification-orange-color: var(--token-color-black-4);
--notification-orange-border-color: var(--token-color-secondary-orange);
--notification-orange-icon-bg: var(--token-color-secondary-orange);

/* green */
--notification-green-bg: var(--token-color-soft-green);
--notification-green-color: var(--token-color-black-4);
--notification-green-border-color: var(--token-color-secondary-green);
--notification-green-icon-bg: var(--token-color-secondary-green);

/* white */
--notification-white-bg: var(--token-color-grey-1);
--notification-white-color: var(--token-color-black-4);
--notification-white-border-color: var(--token-color-grey-2);
--notification-white-icon-bg: var(--token-color-black-4);

/* light purple */
--notification-light-purple-bg: var(--token-color-light-purple);
--notification-light-purple-color: var(--token-color-white);
--notification-light-purple-border-color: var(--token-color-grey-2);
--notification-light-purple-icon-bg: var(--token-color-black-4);

/* selected state (inverted) */
--notification-selected-bg: var(--notification-stacked-color);
--notification-selected-color: var(--notification-bg);
--notification-red-selected-bg: var(--token-color-secondary-red-3);
--notification-red-selected-color: var(--token-color-white);
--notification-orange-selected-bg: var(--token-color-secondary-orange-3);
--notification-orange-selected-color: var(--token-color-white);
--notification-green-selected-bg: var(--token-color-secondary-green-3);
--notification-green-selected-color: var(--token-color-white);
--notification-white-selected-bg: var(--token-color-black);
--notification-white-selected-color: var(--token-color-white);
--notification-light-purple-selected-bg: var(--token-color-purple);
--notification-light-purple-selected-color: var(--token-color-white);

/* form fields */
--fl-theme-form-field-background: rgba(255, 255, 255, 0.92);
--fl-theme-form-field-border-color: var(--token-color-black-1);
--fl-theme-form-field-border-color-focus: var(--token-color-black-2);

/* User privacy sidebar */
--sidebar-text-color: var(--token-color-grey-3);
--sidebar-selected-text-color: var(--token-color-black-4);

/* buttons */
--fl-subnav-bg: var(--token-gradient-subnav-light);
--fl-subnav-toggle-bg: var(--token-color-white);

/* custom checkbox styles */
--checkbox-border-color: var(--token-color-light-purple);
--checkbox-disabled-border-color: #535664;
--checkbox-hover-bg-color: var(--token-color-soft-purple);
--checkbox-hover-border-color: var(--token-color-light-purple);
--checkbox-checked-bg-color: var(--token-color-light-purple);
--checkbox-checked-border-color: var(--token-color-light-purple);
--checkbox-checked-hover-bg-color: var(--token-color-link-purple);

/* Release notes */
--release-notes-text-color-secondary: var(--token-color-black-1);

/* Smart window */
--smart-window-instructions-heading-text-color: var(--token-color-dark-purple);
--smart-window-instructions-content-text-color: var(--token-color-grey-4);
--smart-window-play-icon-background: var(--token-color-soft-purple-2);
--smart-window-play-icon-background-hover: var(--token-color-white);
--smart-window-play-icon-background-active: var(--token-color-soft-purple);
--smart-window-play-icon-border-color: var(--token-color-soft-purple-2);
--smart-window-play-icon-fill-color: var(--token-color-dark-purple);
--smart-window-play-icon-fill-color-hover: var(--token-color-black-4);
--smart-window-play-icon-fill-color-active: #42414d;

/* Icon text list */
--icon-text-list-icon-bg: var(--token-color-soft-purple);

/* Numbered list */
--theme-numbered-list-background: var(--token-color-soft-purple-40);
--theme-numbered-list-border-color: var(--token-color-soft-purple-4);
--theme-numbered-list-counter-color: var(--token-color-light-purple);

/* Roadmap list section */
--theme-roadmap-list-background: var(--token-color-soft-purple-40);
--theme-roadmap-list-border-color: var(--token-color-soft-purple-2);

/* Tabs */
--theme-tabs-nav-background: var(--token-color-soft-purple);
--theme-tabs-tab-color-hover: var(--fl-theme-color-link-hover);
--theme-tabs-tab-selected-background: var(--token-color-white);
--theme-tabs-tab-selected-color: var(--fl-theme-color-text);

/* Form fields */
--theme-form-field-background: var(--token-color-soft-purple);
--theme-form-field-background-focus: var(--token-color-white);
--theme-form-field-border-color: transparent;
--theme-form-field-border-color-error: var(--token-color-error-red);
--theme-form-field-border-color-focus: var(--token-color-light-purple);
--theme-form-color: var(--token-color-black-4);
--theme-form-focus-outline-color: var(--token-color-soft-purple-3);
--theme-checkbox-border-color: var(--token-color-light-purple);
--theme-form-error-message-color: var(--token-color-error-red);

/* Comparison table */
--comparison-table-highlighted-bg: var(--token-color-soft-purple);
--comparison-table-border-color: var(--token-color-soft-purple-2);
--comparison-table-text-color: var(--token-color-grey-3);

/* Comparison table - browser comparison variant */
--comparison-table-browser-highlighted-bg: var(--token-color-soft-purple);
--comparison-table-browser-highlighted-text-color: var(--token-color-purple);
--comparison-table-browser-border-color: var(--token-color-light-purple);
--comparison-table-browser-text-color: var(--token-color-soft-purple-4);
